/* This is basically what I want */
body {
font-family: Helvetica;
background-color: darkred;
color: white;
margin: 0px;
}
/* The top section of the page will be white writing on the red background
and will have padding. */
.jumbotron {
text-align: center;
color: maroon;
}
/* The main section of text should be red headers on white background. */
.panel {
background-color: white;
font: 100% Times;
text-align: center;
color: black;
}
a.btn {
	margin: .1em;
}
tr:hover{
	color: darkred;
}